nav{
    background-color:white;
    height: 50px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
}
nav p{
    margin-top: 15px;
}
nav button {
    margin: 5px;
    background: none;
    border: 0px;
    background-color: #FFE800;
    width: 5%;
    border-radius: 10px;
    justify-content: start;
}
.web2{
    background-color: #FFE800;
    width: 10%;
    border-radius: 10px;
}
nav button a i{
    text-decoration: none;
    color: white;
}
nav button a i:hover{
    color: black;
}

.contendeorPrincipal{
    width: 90%;
    margin: 3%;
    background-color: white;
    background-color: rgb(166, 195, 211);

}
.box-imgLogo{
    background-color: white;
    text-align: right;

}
.jumbotron{
    display: flex;
    flex-direction: column;
}
.imagenesCentrales{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.card{
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
}
div button{
    background: none;
    border: 0px;
} 
div .web a i{
    text-decoration: none;
    color: white;
}
div .web a i:hover{
    color: black;
}

div .web {
        width:120px ;
        display: flex;
        flex-direction: row;
        background-color: #FFE800;
        border-radius: 10px;
}
.web i{
    margin:5%;
}